<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de Usuario</title>
</head>
<body>
    <h2>Admin: Creación de Usuarios</h2>
    <h3>Ingresar los supervisores y recepcionistas</h3>
</body>
</html>