<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Backend</title>
</head>
<body>
    <h2>Backend: Registro de visitas</h2>
    <!-- <h3>Apis a consumirs</h3> -->
</body>
</html>